<template>
  <f-dialog :value.sync="modal" width="400px">
    <div class="card-custom">
      <div class="card-head d-flex align-items-center justify-content-between">
        <p class="mb-0 font-weight-bold">Add Payment Method</p>
        <el-button type="info" size="small" plain @click="modal = false">
          <i class="fas fa-times"></i>
        </el-button>
      </div>
      <div class="card-content">
        <el-form
          :model="form"
          :rules="rules"
          ref="refForm"
          label-width="120px"
          class="demo-form"
        >
          <el-form-item label="Bank Name" prop="bank_name">
            <el-input
              v-model="form.bank_name"
              placeholder="Input bank name"
            ></el-input>
          </el-form-item>

          <el-form-item label="Account Name" prop="account_name">
            <el-input
              v-model="form.account_name"
              placeholder="Input account name"
            ></el-input>
          </el-form-item>

          <el-form-item label="Account Number" prop="account_number">
            <el-input
              v-model="form.account_number"
              placeholder="Input account number"
            ></el-input>
          </el-form-item>

          <el-form-item>
            <el-button
              type="primary"
              class="mt-3"
              size="small pull-right"
              @click="submitPayMethod()"
            >
              {{ paymentData ? "Save Changes" : "Submit" }}</el-button
            >
          </el-form-item>
        </el-form>
      </div>
    </div>
    <f-loading :value="response.isLoading"></f-loading>
  </f-dialog>
</template>

<script>
import { handler } from "@/controllers/handler";
import {
  computed,
  onMounted,
  reactive,
  ref,
  watch
} from "@vue/composition-api";

export default {
  props: {
    dialog: {
      type: Boolean
    },

    paymentData: {
      type: Object
    },

    fetchPayments: {
      type: Function
    }
  },

  setup(props, { emit }) {
    const { form: response, postData, putData } = handler();

    const form = reactive({
      bank_name: null,
      account_name: null,
      account_number: null
    });

    const rules = reactive({
      bank_name: [
        {
          required: true,
          message: "Please input bank name",
          trigger: "blur"
        }
      ],
      account_name: [
        {
          required: true,
          message: "Please input acount name",
          trigger: "blur"
        }
      ],
      account_number: [
        {
          required: true,
          message: "Please input acount number",
          trigger: "blur"
        }
      ]
    });

    const modal = computed({
      get: () => {
        return props.dialog;
      },
      set: val => {
        emit("update:dialog", val);
      }
    });

    onMounted(() => {
      if (props.paymentData) {
        form.bank_name = props.paymentData.bank_name;
        form.account_name = props.paymentData.account_name;
        form.account_number = props.paymentData.account_number;
      }
    });

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          emit("update:dialog", false);
          props.fetchPayments();
        }
      },
      { deep: true }
    );

    function submit() {
      postData("/payment-method", form);
    }

    function update() {
      putData(`/payment-method/${props.paymentData.id}`, form);
    }

    const refForm = ref(null);

    function submitPayMethod() {
      refForm.value.validate(valid => {
        if (valid) {
          !props.paymentData ? submit() : update();
        }
      });
    }

    return {
      modal,
      form,
      rules,
      submit,
      update,
      response,
      refForm,
      submitPayMethod
    };
  }
};
</script>
