<template>
  <div class="membership">
    <div class="bg-white p-4">
      <h3 class="mt-0 mb-0">Membership</h3>
    </div>

    <div class="p-3">
      <div class="row">
        <div class="col d-flex align-items-center">
          <p class="m-0 font-weight-normal color-grey-500">
            Manage your user here.
          </p>
        </div>
        <div class="col text-right">
          <el-button type="primary" @click="state.isDialog = true" size="small">
            <i class="fas fa-plus"></i>
            Add User
          </el-button>
        </div>
      </div>

      <div class="card-custom p-3 mt-3">
        <div class="row mb-2">
          <div class="col-md-3 ">
            <f-search-field
              type="text"
              class="form-control"
              v-model="filter.search"
              placeholder="Search Member"
            ></f-search-field>
          </div>
        </div>

        <f-placeholder v-if="result.isLoading"></f-placeholder>
        <div class="tableFixHead" v-else>
          <table
            class="table table-list table-bordered table-striped table-vcenter"
          >
            <thead>
              <tr>
                <th class="text-size-small bg-white border-right">Name</th>
                <th class="text-size-small bg-white border-right">Email</th>
                <th class="text-size-small bg-white border-right">Phone</th>
                <th class="text-size-small bg-white border-right">Saldo</th>
                <th class="text-size-small bg-white border-right">Address</th>
                <th class="text-size-small bg-white border-right">City</th>
                <th class="text-size-small bg-white border-right">Join At</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="state.datas.length === 0">
                <td class="text-size-small text-center" colspan="7">
                  no datas
                </td>
              </tr>
              <tr v-else v-for="(item, index) in state.datas" :key="index">
                <td class="text-size-small text-center">{{ item.name }}</td>
                <td class="text-size-small text-center">{{ item.email }}</td>
                <td class="text-size-small text-center">{{ item.phone }}</td>
                <td class="text-size-small text-center">
                  {{ item.balance | price }}
                </td>
                <td class="text-size-small text-center">{{ item.address }}</td>
                <td class="text-size-small text-center">-</td>
                <td class="text-size-small text-center">
                  {{ item.created_at | formatDate("DD/MM/YYYY - HH:mm") }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <f-pagination
          class="mt-3"
          v-if="state.pagination"
          v-model="filter.page"
          :totalPage="state.pagination.total_page"
        ></f-pagination>
      </div>
    </div>

    <AddUser
      v-if="state.isDialog"
      :dialog.sync="state.isDialog"
      :fetchUsers="fetchUsers"
    />
  </div>
</template>

<script>
import { handler } from "@/controllers/handler";
import { onMounted, reactive, watch } from "@vue/composition-api";

export default {
  components: {
    AddUser: () => import("@/components/membership/AddUser")
  },

  setup() {
    const { result, fetchData } = handler();
    const filter = reactive({
      page: 0,
      search: ""
    });

    const state = reactive({
      datas: [],
      pagination: null,
      isDialog: false
    });

    watch(
      () => filter,
      () => {
        fetchUsers();
      },
      {
        deep: true
      }
    );

    watch(
      () => result,
      value => {
        if (value.response) {
          state.datas = value.response.data;
          state.pagination = value.response.paging;
        }
      },
      {
        deep: true
      }
    );

    function fetchUsers() {
      fetchData("/user", filter);
    }

    onMounted(() => {
      fetchUsers();
    });

    return {
      filter,
      state,
      result,
      fetchUsers
    };
  }
};
</script>
