<template>
  <div class="membership">
    <div class="bg-white p-4">
      <h3 class="mt-0 mb-0">Merchants</h3>
    </div>

    <div class="p-3">
      <div class="row">
        <div class="col d-flex align-items-center">
          <p class="m-0 font-weight-normal color-grey-500">
            Manage your user here.
          </p>
        </div>
        <div class="col text-right">
          <el-button type="primary" @click="state.isDialog = true" size="small">
            <i class="fas fa-plus"></i>
            Add Merchant
          </el-button>
        </div>
      </div>

      <div class="card-custom p-3 mt-3">
        <div class="row mb-2">
          <div class="col-md-3 ">
            <f-search-field
              type="text"
              class="form-control"
              v-model="filter.search"
              placeholder="Search Merchant"
            ></f-search-field>
          </div>
        </div>

        <f-placeholder v-if="result.isLoading"></f-placeholder>
        <div class="tableFixHead" v-else>
          <table
            class="table table-list table-bordered table-striped table-vcenter"
          >
            <thead>
              <tr>
                <th class="text-size-small bg-white">
                  Merchant Name
                </th>
                <th class="text-size-small bg-white">
                  Owner Name
                </th>
                <th class="text-size-small bg-white">Phone</th>
                <th class="text-size-small bg-white">Address</th>
                <th class="text-size-small bg-white">City</th>
                <th class="text-size-small bg-white">SIUP</th>
                <th class="text-size-small bg-white">
                  Time Created
                </th>
                <th class="text-size-small bg-white">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="state.datas.length === 0">
                <td class="text-size-small text-center" colspan="7">
                  no datas
                </td>
              </tr>
              <tr v-else v-for="(item, index) in state.datas" :key="index">
                <td class="text-size-small text-center">{{ item.name }}</td>
                <td class="text-size-small text-center">
                  {{ item.user.name }}
                </td>
                <td class="text-size-small text-center">
                  {{ item.user.phone }}
                </td>
                <td class="text-size-small text-center">
                  {{ item.address }}
                </td>
                <td class="text-size-small text-center text-capitalize">
                  {{ item.district.name | lowercase }}
                  {{ item.city.name | lowercase }}
                  {{ item.province.name | lowercase }}
                </td>
                <td class="text-size-small text-center">
                  <a
                    href="#"
                    @click="
                      (state.showSIUP = true),
                        (state.currentId = item.id),
                        (state.fileSIUP = item.siup_image),
                        (state.statusSIUP = item.siup_status)
                    "
                  >
                    Show
                  </a>
                </td>
                <td class="text-size-small text-center">
                  {{ item.created_at | formatDate("DD/MM/YYYY - HH:mm") }}
                </td>
                <td class="text-size-small text-center">
                  <el-button
                    :type="item.status ? 'danger' : 'success'"
                    size="small"
                    @click="changeStatus(item.id, item.status)"
                    class="mb-1 w-100"
                  >
                    {{ item.status ? "Inactivate" : "Activate" }}
                  </el-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <f-pagination
          class="mt-3"
          v-if="state.pagination"
          v-model="filter.page"
          :totalPage="state.pagination.total_page"
        ></f-pagination>
      </div>
    </div>

    <f-dialog :value.sync="state.showSIUP" width="400px">
      <div class="card-custom">
        <div
          class="card-head d-flex align-items-center justify-content-between"
        >
          <p class="m-0 font-weight-bold">SIUP</p>
          <el-button
            type="info"
            plain
            size="small"
            @click="state.showSIUP = false"
          >
            <i class="fas fa-times"></i>
          </el-button>
        </div>
        <div class="card-content">
          <div style="min-height:400px">
            <img
              v-if="state.fileSIUP"
              :src="$filters.imageView(state.fileSIUP)"
              alt="bukti-transfer"
              width="100%"
              height="auto"
              class="border"
            />
            <p class="text-center" v-else>Data tidak ditemukan</p>
          </div>

          <div class="d-flex align-items-center" v-if="state.fileSIUP">
            <el-tag>{{
              state.statusSIUP
                ? "Aproved"
                : state.statusSIUP === null
                ? "Not Aproved"
                : "Rejected"
            }}</el-tag>
          </div>

          <div class="d-flex mt-3" v-if="state.fileSIUP">
            <el-button
              type="danger"
              size="small"
              @click="approveSIUP(false)"
              class="mb-1 w-100"
            >
              Reject
            </el-button>
            <el-button
              type="success"
              size="small"
              @click="approveSIUP(true)"
              class="mb-1 w-100"
            >
              Approve
            </el-button>
          </div>
        </div>
      </div>
    </f-dialog>

    <AddMerchant
      v-if="state.isDialog"
      :dialog.sync="state.isDialog"
      :fetchMerchants="fetchMerchants"
    />
  </div>
</template>

<script>
import { handler } from "@/controllers/handler";
import { onMounted, reactive, watch } from "@vue/composition-api";

export default {
  components: {
    AddMerchant: () => import("@/components/membership/AddMerchant")
  },

  setup(_, { root }) {
    const { result, fetchData, form: response, putData } = handler();
    const filter = reactive({
      page: 0,
      search: ""
    });

    const state = reactive({
      currentId: null,
      fileSIUP: null,
      statusSIUP: null,

      showSIUP: false,
      datas: [],
      pagination: null,
      isDialog: false
    });

    watch(
      () => filter,
      () => {
        fetchMerchants();
      },
      { deep: true }
    );

    watch(
      () => result,
      value => {
        if (value.response) {
          state.datas = value.response.data;
          state.pagination = value.response.paging;
        }
      },
      { deep: true }
    );

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          fetchMerchants();
        }
      },
      { deep: true }
    );

    function fetchMerchants() {
      fetchData("/user/merchant", filter);
    }

    const changeStatus = async (merchantId, status) => {
      if (
        await root.$confirm({
          title: `Are you sure for ${
            status ? "inactive" : "active"
          } this merchant?`,
          lbLabel: "Cancel",
          rbLabel: "Ok",
          forceStay: false
        })
      ) {
        putData(`/user/merchant/status/${merchantId}`, {
          status: status ? false : true
        });
      }
    };

    const approveSIUP = async status => {
      if (
        await root.$confirm({
          title: `Are you sure for ${status ? "reject" : "aprove"} this SIUP?`,
          lbLabel: "Cancel",
          rbLabel: "Ok",
          forceStay: false
        })
      ) {
        putData(`/user/merchant/siup-status/${state.currentId}`, {
          status: status ? false : true
        });
      }
    };

    onMounted(() => {
      fetchMerchants();
    });

    return {
      filter,
      state,
      result,
      changeStatus,
      approveSIUP,
      fetchMerchants
    };
  }
};
</script>
