<template>
  <el-select v-model="innerValue" filterable default-first-option>
    <slot></slot>
  </el-select>
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      default: null
    }
  },
  computed: {
    innerValue: {
      get() {
        return this.value;
      },
      set(newValue) {
        this.$emit("input", newValue);
      }
    }
  }
};
</script>
