<template>
  <div class="maps mt-3">
    <div class="pin-point-placeholder" v-if="!isActive">
      <p class="m-0">
        {{ place || "Not set pin point" }}
      </p>
      <el-button size="small" @click="isActive = true">
        {{ place ? "Change Pin Point" : "Set Pin Point" }}</el-button
      >
    </div>
    <div class="pin-point" v-else>
      <div class="pin-point-area">
        <div
          class="d-flex border justify-content-between p-2 align-items-center bg-white"
        >
          <p class="m-0 text-size-small text-color-grey font-weight-500">
            Set Pin Point Location
          </p>
          <el-button type="button" @click="isActive = false" size="small">
            Cancel
          </el-button>
        </div>
        <div class="map-search">
          <img
            @click="setPoint"
            class="marker-point"
            src="../../assets/pin-point/map-marker.png"
            width="150"
          />
          <GmapMap
            :center="center"
            map-type-id="roadmap"
            ref="gmap"
            :options="options"
            @center_changed="debounceDragHandler"
            style="width: 100%; height: 100%"
          ></GmapMap>
        </div>
      </div>
      <div class="info-detail">
        <p>{{ place || "Not set pin point" }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import { gmapApi } from "gmap-vue";

export default {
  props: {
    value: {
      type: Object,
      default: () => ({
        lat: -6.175343,
        lng: 106.827164
      })
    },

    location: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      options: {
        disableDefaultUi: true,
        fullscreenControl: true,
        mapTypeControl: false,
        rotateControl: false,
        scaleControl: false,
        streetViewControl: false,
        zoom: 15,
        zoomControl: true
      },
      center: {
        lat: -6.175286,
        lng: 106.827153
      },
      place: null,
      isActive: false
    };
  },

  computed: {
    google: gmapApi,
    geocoder: () => {
      // eslint-disable-next-line no-undef
      if (google) {
        // eslint-disable-next-line no-undef
        return new google.maps.Geocoder();
      }
    }
  },

  watch: {
    location: {
      deep: true,
      handler(v) {
        if (v) {
          this.getPointAddress(v);
        }
      }
    }
  },

  methods: {
    handleCenterChange(event) {
      this.center = {
        lat: event.lat(),
        lng: event.lng()
      };
      let vm = this;
      vm.geocoder.geocode({ location: vm.center }, function(results, status) {
        if (status === "OK") {
          vm.place = results[0].formatted_address;
        } else {
          vm.place = "";
        }
      });
    },

    getPointAddress(v) {
      let vm = this;
      vm.isActive = true;
      setTimeout(() => {
        vm.geocoder.geocode(
          {
            address: `${v.villageName[0].name}, ${v.districtName[0].name}, ${v.cityName[0].name}, ${v.provinceName[0].name}`
          },
          function(results, status) {
            if (status === "OK") {
              vm.center = {
                lat: results[0].geometry.location.lat(),
                lng: results[0].geometry.location.lng()
              };
            }
          }
        );
      }, 500);
    },

    setPoint() {
      this.isActive = false;
      this.$emit("input", this.center);
    }
  },

  created() {
    this.debounceDragHandler = _.debounce(this.handleCenterChange, 700);
  },

  mounted() {
    if (this.value) {
      this.center = this.value;
    }
  }
};
</script>

<style>
.map-search {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
  background-color: white;
}
.marker-point {
  z-index: 2;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  cursor: pointer;
  position: absolute;
}

.pin-point-placeholder {
  display: flex;
  background: #2c4b64;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  color: #ffffff;
}

.pin-point-area {
  width: 100%;
  height: 320px;
  margin-bottom: 70px;
}

.info-detail {
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 10px;
}
</style>
