<template>
  <el-select
    class="w-100"
    :loading="result.isLoading"
    placeholder="Type to search customer name"
    remote
    filterable
    :remote-method="getUsers"
    @change="selectUser"
    value-key="id"
    v-model="state.user"
  >
    <el-option
      v-for="item in state.users"
      :key="item.id"
      :label="item.name"
      :value="item"
    ></el-option>
  </el-select>
</template>

<script>
import { reactive, watch } from "@vue/composition-api";
import { handler } from "@/controllers/handler";
export default {
  props: {
    value: {
      type: Number,
      default: null
    }
  },
  setup() {
    const { result, fetchData } = handler();
    const state = reactive({
      users: [],
      user: null
    });

    watch(
      () => result,
      value => {
        if (value.isSuccess) {
          state.users = value.response.data;
        }
      },
      { deep: true }
    );

    function selectUser(selected) {
      this.$emit("input", parseInt(selected.id));
    }

    function getUsers(search) {
      if (search.length >= 3) {
        fetchData("/user", {
          search: search
        });
      }
    }

    return {
      state,
      result,
      selectUser,
      getUsers
    };
  }
};
</script>
