<template>
  <div class="dashboard">
    <div class="bg-white p-4">
      <h3 class="mt-0 mb-0">Setting Courier</h3>
    </div>
    <div class="p-3">
      <div class="card-custom p-3">
        <div class="row">
          <div class="col d-flex align-items-center">
            <p class="m-0 font-weight-normal color-grey-500">
              Manage your courier here.
            </p>
          </div>
          <div class="col text-right">
            <el-button
              type="primary"
              size="small"
              @click="(state.courierData = null), (state.isDialog = true)"
            >
              <i class="fas fa-plus"></i>
              Add Courier
            </el-button>
          </div>
        </div>

        <!-- skeleton loader -->
        <f-placeholder v-if="result.isLoading"></f-placeholder>
        <div class="items-content bg-white mt-2" v-else>
          <div class="row bg-grey-300">
            <div class="col text-center font-weight-500 border-right p-2">
              Logo
            </div>
            <div class="col text-center font-weight-500 border-right p-2">
              Courier Name
            </div>
            <div class="col text-center font-weight-500 border-right p-2">
              Courier Code
            </div>
            <div class="col text-center font-weight-500 border-right p-2">
              Created at
            </div>
            <div class="col text-center font-weight-500 p-2">
              Action
            </div>
          </div>
          <div
            v-for="item in state.couriers"
            :key="item.id"
            class="row bg-white border-bottom"
          >
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              <img
                :src="item.logo"
                alt=""
                width="40px"
                height="40px"
                class="circle responsive-img"
              />
            </div>
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              {{ item.name }}
            </div>
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              {{ item.code }}
            </div>
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              {{ item.created_at | formatDate }}
            </div>
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              <el-button
                plain
                size="small"
                @click="(state.courierData = item), (state.isDialog = true)"
              >
                <i class="fas fa-edit"></i>
              </el-button>
              <el-button plain size="small" @click="deleteCourier(item.id)">
                <i class="fas fa-trash-alt"></i>
              </el-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <AddCourier
      v-if="state.isDialog"
      :dialog.sync="state.isDialog"
      :fetchCouriers="fetchCouriers"
      :courierData="state.courierData"
    />
    <f-loading :value="response.isLoading"></f-loading>
  </div>
</template>

<script>
import { handler } from "@/controllers/handler";
import { onMounted, reactive, watch } from "@vue/composition-api";

export default {
  components: {
    AddCourier: () => import("@/components/settings/courier/AddCourier")
  },

  setup(props, ctx) {
    const { form: response, deleteData, result, fetchData } = handler();

    const state = reactive({
      datas: [],
      isDialog: false,
      courierData: null,
      couriers: []
    });

    watch(
      () => result.response,
      value => {
        if (value) {
          state.couriers = value.data;
        }
      },
      { deep: true }
    );

    function fetchCouriers() {
      fetchData("/courier");
    }

    onMounted(() => {
      fetchCouriers();
    });

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          fetchCouriers();
        }
      },
      { deep: true }
    );

    const deleteCourier = async courierId => {
      if (
        await ctx.root.$confirm({
          title: "Are you sure want to delete this data?",
          lbLabel: "Cancel",
          rbLabel: "Ok",
          forceStay: false
        })
      ) {
        deleteData(`/courier/${courierId}`);
      }
    };

    return {
      state,
      result,
      deleteCourier,
      fetchCouriers,
      response
    };
  }
};
</script>
