<template>
  <div class="dashboard">
    <div class="bg-white p-4">
      <h3 class="mt-0 mb-0">Transaction List</h3>
    </div>

    <div class="p-3">
      <div class="card-custom p-3">
        <div class="row mb-2">
          <div class="col-md-3 ">
            <el-select v-model="filter.type" class="w-100" placeholder="Select">
              <el-option
                v-for="item in transactions_type"
                :key="item.type"
                :label="item.name"
                :value="item.type"
              >
              </el-option>
            </el-select>
          </div>
        </div>

        <f-placeholder v-if="result.isLoading"></f-placeholder>
        <div class="tableFixHead" v-else>
          <TableTransaction :transactions="state.datas" />
        </div>
        <f-pagination
          class="mt-3"
          v-if="state.pagination"
          v-model="filter.page"
          :totalPage="state.pagination.total_page"
        ></f-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { handler } from "@/controllers/handler";
import { utilities } from "@/controllers/utilities";
import { onMounted, reactive, watch } from "@vue/composition-api";

export default {
  components: {
    TableTransaction: () => import("@/components/transaction/TableTransactions")
  },
  setup() {
    const { result, fetchData } = handler();
    const { transactions_type } = utilities();

    const filter = reactive({
      type: "",
      page: 0
    });

    const state = reactive({
      datas: [],
      pagination: null
    });

    watch(
      () => filter,
      () => {
        fetchTransactions();
      },
      {
        deep: true
      }
    );

    watch(
      () => result,
      value => {
        if (value.response) {
          state.datas = value.response.data;
          state.pagination = value.response.paging;
        }
      },
      {
        deep: true
      }
    );

    function fetchTransactions() {
      fetchData("/transaction/digital", filter);
    }

    onMounted(() => {
      fetchTransactions();
    });

    return {
      filter,
      state,
      result,
      transactions_type
    };
  }
};
</script>
