<template>
  <div class="dashboard">
    <div class="bg-white p-4">
      <h3 class="mt-0 mb-0">Category List</h3>
    </div>
    <div class="p-3">
      <div class="row">
        <div class="col d-flex align-items-center">
          <p class="m-0 font-weight-normal color-grey-500">
            Manage your product category here.
          </p>
        </div>
        <div class="col text-right">
          <el-button
            type="primary"
            @click="(state.categoryData = null), (state.isDialog = true)"
            size="small"
          >
            <i class="fas fa-plus"></i>
            Add Category
          </el-button>
        </div>
      </div>

      <div class="card-custom p-3 mt-3">
        <div class="row mb-2">
          <div class="col-md-3 ">
            <f-search-field
              type="text"
              class="form-control"
              v-model="filter.search"
              placeholder="Search category"
            ></f-search-field>
          </div>
        </div>
        <!-- skeleton loader -->
        <f-placeholder v-if="result.isLoading"></f-placeholder>
        <div class="items-content bg-white mt-2" v-else>
          <div class="row bg-grey-300">
            <div class="col text-center font-weight-500 border-right p-2">
              Category Name
            </div>
            <div class="col text-center font-weight-500 p-2">
              Action
            </div>
          </div>
          <div v-if="state.datas.length === 0">
            <p class="text-center mt-2">No datas</p>
          </div>
          <div
            v-else
            v-for="item in state.datas"
            :key="item.id"
            class="row bg-white border-bottom"
          >
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              {{ item.name }}
            </div>
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              <el-button
                plain
                size="small"
                @click="(state.categoryData = item), (state.isDialog = true)"
              >
                <i class="fas fa-edit"></i>
              </el-button>
              <el-button plain size="small" @click="deleteCategory(item.id)">
                <i class="fas fa-trash-alt"></i>
              </el-button>
            </div>
          </div>
        </div>

        <f-pagination
          class="mt-3"
          v-if="state.pagination"
          v-model="filter.page"
          :totalPage="state.pagination.total_page"
        ></f-pagination>
      </div>
    </div>

    <AddCategory
      v-if="state.isDialog"
      :dialog.sync="state.isDialog"
      :fetchNews="fetchNews"
      :categoryData="state.categoryData"
    />
  </div>
</template>

<script>
import { handler } from "@/controllers/handler";
import { onMounted, reactive, watch } from "@vue/composition-api";

export default {
  components: {
    AddCategory: () => import("@/components/category/AddCategory")
  },
  setup(_, ctx) {
    const { result, fetchData, form: response, deleteData } = handler();

    const state = reactive({
      datas: [],
      isDialog: false,
      categoryData: null,
      pagination: null
    });

    const filter = reactive({
      page: 0,
      search: ""
    });

    watch(
      () => result,
      value => {
        if (value.response) {
          state.datas = value.response.data;
          state.pagination = value.response.paging;
        }
      },
      {
        deep: true
      }
    );

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          fetchNews();
        }
      },
      { deep: true }
    );

    watch(
      () => filter,
      () => {
        fetchNews();
      },
      {
        deep: true
      }
    );

    const deleteCategory = async categoryId => {
      if (
        await ctx.root.$confirm({
          title: "Are you sure want to delete this news?",
          lbLabel: "Cancel",
          rbLabel: "Ok",
          forceStay: false
        })
      ) {
        deleteData(`/category/${categoryId}`);
      }
    };

    function fetchNews() {
      fetchData("/category", filter);
    }

    onMounted(() => {
      fetchNews();
    });

    return {
      state,
      filter,
      result,
      fetchNews,
      deleteCategory
    };
  }
};
</script>
