<template>
  <f-dialog :value.sync="modal" width="550px">
    <div class="card-custom">
      <div class="card-head d-flex align-items-center justify-content-between">
        <p class="m-0 font-weight-bold">Add Merchant</p>
        <el-button type="info" size="small" plain @click="modal = false">
          <i class="fas fa-times"></i>
        </el-button>
      </div>
      <div class="card-content">
        <el-form :model="form" :rules="rules" ref="refForm">
          <el-form-item label="Customer" prop="userId">
            <f-search-customer v-model="form.userId"></f-search-customer>
          </el-form-item>

          <el-form-item label="Merchant Name" prop="name">
            <el-input v-model="form.name" placeholder="Input name"></el-input>
          </el-form-item>

          <el-form-item label="Address" prop="address">
            <el-input
              type="textarea"
              v-model="form.address"
              placeholder="Input address"
            ></el-input>
          </el-form-item>

          <div class="row">
            <div class="col">
              <el-form-item label="Province" prop="province_id">
                <el-select
                  @change="getCityList()"
                  v-model="form.province_id"
                  class="w-100"
                  placeholder="Select or Search province"
                  filterable
                  default-first-option
                >
                  <el-option
                    v-for="item in province.list"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="col">
              <el-form-item label="City" prop="city_id">
                <el-select
                  @change="getDistrictList()"
                  v-model="form.city_id"
                  class="w-100"
                  placeholder="Select or Search city"
                  filterable
                  default-first-option
                >
                  <el-option
                    v-for="item in city.list"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <el-form-item label="District" prop="district_id">
                <el-select
                  @change="getVillageList()"
                  v-model="form.district_id"
                  class="w-100"
                  placeholder="Select or Search district"
                  filterable
                  default-first-option
                >
                  <el-option
                    v-for="item in district.list"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="col">
              <el-form-item label="Village" prop="village_id">
                <el-select
                  v-model="form.village_id"
                  class="w-100"
                  placeholder="Select or Search district"
                  filterable
                  @change="setPointAddress()"
                  default-first-option
                >
                  <el-option
                    v-for="item in village.list"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
          </div>
          <el-form-item
            class="custom-form-item"
            label="Pin Point"
            prop="position"
          >
            <f-pin-point
              v-model="form.position"
              :location="state.setWithLocation"
            ></f-pin-point>
          </el-form-item>

          <!-- <pre>
            {{ form.position }}
          </pre> -->

          <el-form-item label="Logo" prop="logo">
            <f-upload-image
              v-model="form.logo"
              width="150px"
              height="150px"
            ></f-upload-image>
          </el-form-item>

          <el-form-item>
            <el-button
              type="primary"
              class="mt-3"
              size="small pull-right"
              @click="submitMerchant()"
            >
              Submit</el-button
            >
          </el-form-item>
        </el-form>
      </div>
    </div>
    <f-loading :value="response.isLoading"></f-loading>
  </f-dialog>
</template>

<script>
// import { gmapApi } from "gmap-vue";
import { handler } from "@/controllers/handler";
import { useAddress } from "@/controllers/useAddress";
import {
  computed,
  onMounted,
  reactive,
  ref,
  watch
} from "@vue/composition-api";

export default {
  props: {
    dialog: {
      type: Boolean
    },

    fetchMerchants: {
      type: Function
    }
  },

  setup(props, { emit }) {
    const { form: response, postData } = handler();
    const {
      province,
      fetchProvince,
      city,
      fetchCity,
      district,
      fetchDistrict,
      village,
      fetchVillage
    } = useAddress();

    const state = reactive({
      setWithLocation: null
    });
    const form = reactive({
      userId: null,
      name: null,
      address: null,
      province_id: null,
      city_id: null,
      district_id: null,
      village_id: null,
      logo: null,
      latitude: null,
      longitude: null,
      position: null
    });

    const rules = reactive({
      logo: [
        {
          required: true,
          message: "Please search customer name",
          trigger: "blur"
        }
      ],
      userId: [
        {
          required: true,
          message: "Please search customer name",
          trigger: "blur"
        }
      ],
      email: [
        {
          required: true,
          message: "Please input email",
          trigger: "blur"
        },
        {
          type: "email",
          message: "Please input correct email address",
          trigger: ["blur", "change"]
        }
      ],
      address: [
        {
          required: true,
          message: "Please input address",
          trigger: "blur"
        }
      ],
      province_id: [
        {
          required: true,
          message: "Please input province",
          trigger: "blur"
        }
      ],
      city_id: [
        {
          required: true,
          message: "Please input city",
          trigger: "blur"
        }
      ],
      district_id: [
        {
          required: true,
          message: "Please input district",
          trigger: "blur"
        }
      ],
      village_id: [
        {
          required: true,
          message: "Please input village",
          trigger: "blur"
        }
      ],
      position: [
        {
          required: true,
          message: "Please set pin point",
          trigger: "blur"
        }
      ]
    });

    const modal = computed({
      get: () => {
        return props.dialog;
      },
      set: val => {
        emit("update:dialog", val);
      }
    });

    onMounted(() => {
      fetchProvince();
    });

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          emit("update:dialog", false);
          props.fetchMerchants();
        }
      },
      { deep: true }
    );

    const refForm = ref(null);

    function submitMerchant() {
      refForm.value.validate(valid => {
        if (valid) {
          form.latitude = form.position.lat;
          form.longitude = form.position.lng;
          form.position = null;
          let fd = new FormData();
          Object.entries(form).forEach(element => {
            if (element[1] !== null && element[0] !== "userId") {
              fd.append(element[0], element[1]);
            }
          });
          postData(`/user/${form.userId}/merchant`, fd);
        }
      });
    }

    function getCityList() {
      fetchCity(form.province_id);
    }

    function getDistrictList() {
      fetchDistrict(form.city_id);
    }

    function getVillageList() {
      fetchVillage(form.district_id);
    }

    function setPointAddress() {
      state.setWithLocation = {
        villageName: village.list.filter(v => v.id === form.village_id),
        districtName: district.list.filter(v => v.id === form.district_id),
        cityName: city.list.filter(v => v.id === form.city_id),
        provinceName: province.list.filter(v => v.id === form.province_id)
      };
    }

    return {
      modal,
      state,
      form,
      rules,
      response,
      refForm,
      submitMerchant,
      province,
      getCityList,
      city,
      getDistrictList,
      district,
      getVillageList,
      village,
      setPointAddress
    };
  }
};
</script>

<style lang="scss">
.custom-form-item {
  .el-form-item__content {
    line-height: 20px !important;
    font-size: 12px !important;
  }
}
</style>
