<template>
  <f-dialog :value.sync="modal" width="550px">
    <div class="card-custom">
      <div class="card-head d-flex align-items-center justify-content-between">
        <p class="m-0 font-weight-bold">Add User</p>
        <el-button type="info" size="small" plain @click="modal = false">
          <i class="fas fa-times"></i>
        </el-button>
      </div>
      <div class="card-content">
        <el-form :model="form" :rules="rules" ref="refForm">
          <el-form-item label="Name" prop="name">
            <el-input v-model="form.name" placeholder="Input name"></el-input>
          </el-form-item>

          <div class="row">
            <div class="col">
              <el-form-item label="Phone Number" prop="phone">
                <el-input
                  v-model="form.phone"
                  placeholder="Input phone number"
                ></el-input>
              </el-form-item>
            </div>
            <div class="col">
              <el-form-item label="Email" prop="email">
                <el-input
                  v-model="form.email"
                  placeholder="Input email"
                ></el-input>
              </el-form-item>
            </div>
          </div>

          <el-form-item label="Address" prop="address">
            <el-input
              type="textarea"
              v-model="form.address"
              placeholder="Input address"
            ></el-input>
          </el-form-item>

          <div class="row">
            <div class="col">
              <el-form-item label="Province" prop="province_id">
                <el-select
                  @change="getCityList()"
                  v-model="form.province_id"
                  class="w-100"
                  placeholder="Select or Search province"
                  filterable
                  default-first-option
                >
                  <el-option
                    v-for="item in province.list"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="col">
              <el-form-item label="City" prop="city_id">
                <el-select
                  @change="getDistrictList()"
                  v-model="form.city_id"
                  class="w-100"
                  placeholder="Select or Search city"
                  filterable
                  default-first-option
                >
                  <el-option
                    v-for="item in city.list"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <el-form-item label="District" prop="district_id">
                <el-select
                  @change="getVillageList()"
                  v-model="form.district_id"
                  class="w-100"
                  placeholder="Select or Search district"
                  filterable
                  default-first-option
                >
                  <el-option
                    v-for="item in district.list"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="col">
              <el-form-item label="Village" prop="village_id">
                <el-select
                  v-model="form.village_id"
                  class="w-100"
                  placeholder="Select or Search district"
                  filterable
                  default-first-option
                >
                  <el-option
                    v-for="item in village.list"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
          </div>

          <el-form-item>
            <el-button
              type="primary"
              class="mt-3"
              size="small pull-right"
              @click="submitUser()"
            >
              Submit</el-button
            >
          </el-form-item>
        </el-form>
      </div>
    </div>
    <f-loading :value="response.isLoading"></f-loading>
  </f-dialog>
</template>

<script>
import { handler } from "@/controllers/handler";
import { useAddress } from "@/controllers/useAddress";
import {
  computed,
  onMounted,
  reactive,
  ref,
  watch
} from "@vue/composition-api";

export default {
  props: {
    dialog: {
      type: Boolean
    },

    fetchUsers: {
      type: Function
    }
  },

  setup(props, { emit }) {
    const { form: response, postData } = handler();
    const {
      province,
      fetchProvince,
      city,
      fetchCity,
      district,
      fetchDistrict,
      village,
      fetchVillage
    } = useAddress();

    const form = reactive({
      name: null,
      phone: null,
      email: null,
      address: null,
      province_id: null,
      city_id: null,
      district_id: null,
      village_id: null
    });

    const rules = reactive({
      name: [
        {
          required: true,
          message: "Please input name",
          trigger: "blur"
        }
      ],
      phone: [
        {
          required: true,
          message: "Please input phone",
          trigger: "blur"
        }
      ],
      email: [
        {
          required: true,
          message: "Please input email",
          trigger: "blur"
        },
        {
          type: "email",
          message: "Please input correct email address",
          trigger: ["blur", "change"]
        }
      ],
      address: [
        {
          required: true,
          message: "Please input address",
          trigger: "blur"
        }
      ],
      province_id: [
        {
          required: true,
          message: "Please input province",
          trigger: "blur"
        }
      ],
      city_id: [
        {
          required: true,
          message: "Please input city",
          trigger: "blur"
        }
      ],
      district_id: [
        {
          required: true,
          message: "Please input district",
          trigger: "blur"
        }
      ],
      village_id: [
        {
          required: true,
          message: "Please input village",
          trigger: "blur"
        }
      ]
    });

    const modal = computed({
      get: () => {
        return props.dialog;
      },
      set: val => {
        emit("update:dialog", val);
      }
    });

    onMounted(() => {
      fetchProvince();
    });

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          emit("update:dialog", false);
          props.fetchUsers();
        }
      },
      { deep: true }
    );

    const refForm = ref(null);

    function submitUser() {
      refForm.value.validate(valid => {
        if (valid) {
          postData("/user", form);
        }
      });
    }

    function getCityList() {
      fetchCity(form.province_id);
    }

    function getDistrictList() {
      fetchDistrict(form.city_id);
    }

    function getVillageList() {
      fetchVillage(form.district_id);
    }

    return {
      modal,
      form,
      rules,
      response,
      refForm,
      submitUser,
      province,
      getCityList,
      city,
      getDistrictList,
      district,
      getVillageList,
      village
    };
  }
};
</script>
