<template>
  <f-dialog :value.sync="modal" width="380px">
    <div class="card-custom">
      <div class="card-head d-flex align-items-center justify-content-between">
        <p class="mb-0 font-weight-bold">Add Banner</p>
        <el-button type="info" size="small" plain @click="modal = false">
          <i class="fas fa-times"></i>
        </el-button>
      </div>
      <div class="card-content">
        <el-form
          :model="form"
          :rules="rules"
          ref="refForm"
          label-width="120px"
          class="demo-form"
        >
          <el-form-item label="Logo" :prop="bannerData ? '' : 'file'">
            <f-upload-image
              v-model="form.file"
              height="200px"
              :previewImage="bannerData ? bannerData.image : null"
            ></f-upload-image>
          </el-form-item>

          <el-form-item label="Description" prop="description">
            <el-input
              type="textarea"
              v-model="form.description"
              placeholder="Input description"
            ></el-input>
          </el-form-item>

          <el-form-item>
            <el-button
              type="primary"
              class="mt-3"
              size="small pull-right"
              @click="submitBanner()"
            >
              {{ bannerData ? "Save Changes" : "Submit Banner" }}</el-button
            >
          </el-form-item>
        </el-form>
      </div>
    </div>
    <f-loading :value="response.isLoading"></f-loading>
  </f-dialog>
</template>

<script>
import { handler } from "@/controllers/handler";
import {
  computed,
  onMounted,
  reactive,
  ref,
  watch
} from "@vue/composition-api";

export default {
  props: {
    dialog: {
      type: Boolean
    },

    bannerData: {
      type: Object
    },

    fetchBanners: {
      type: Function
    }
  },

  setup(props, { emit }) {
    const { form: response, postData } = handler();

    const form = reactive({
      file: null,
      description: null
    });

    const rules = reactive({
      file: [
        {
          required: true,
          message: "Please input image",
          trigger: "blur"
        }
      ],
      description: [
        {
          required: true,
          message: "Please input description",
          trigger: "blur"
        }
      ]
    });

    const modal = computed({
      get: () => {
        return props.dialog;
      },
      set: val => {
        emit("update:dialog", val);
      }
    });

    onMounted(() => {
      if (props.bannerData) {
        form.description = props.bannerData.description;
      }
    });

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          emit("update:dialog", false);
          props.fetchBanners();
        }
      },
      { deep: true }
    );

    function submit() {
      let fd = new FormData();
      fd.append("image", form.file);
      fd.append("description", form.description);
      postData("/banner", fd);
    }

    function update() {
      let fd = new FormData();
      if (form.logo) {
        fd.append("image", form.file);
      }
      fd.append("description", form.description);
      postData(`/banner/${props.bannerData.id}`, fd);
    }

    const refForm = ref(null);

    function submitBanner() {
      refForm.value.validate(valid => {
        if (valid) {
          !props.bannerData ? submit() : update();
        }
      });
    }

    return {
      modal,
      form,
      rules,
      submit,
      update,
      response,
      refForm,
      submitBanner
    };
  }
};
</script>
