<template>
  <div class="header">
    <div class="left-navbar">
      <el-button
        @click="sidebarVisible = !sidebarVisible"
        class="mr-3"
        type="primary"
      >
        <i class="fas fa-bars"></i>
      </el-button>
      <!-- <img
        src="../../assets/media/logo/logo-white.png"
        width="80"
        height="auto"
      /> -->
      <h3 class="mt-0 mb-0">Padi Raharja | Admin Panel</h3>
    </div>
    <div class="right-navbar">
      <el-dropdown @command="logout">
        <span class="el-dropdown-link">
          <i class="fas fa-user-circle"></i>
          Admin
          <!-- {{ session ? session.name : "user session" }} -->
          <i class="fas fa-caret-down"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="logout"> Logout </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: {
    sidebar: Boolean
  },
  computed: {
    sidebarVisible: {
      get() {
        return this.sidebar;
      },
      set(val) {
        this.$emit("update:sidebar", val);
      }
    },
    ...mapState({
      session: state => state.auth.session || null
    })
  },
  methods: {
    logout() {
      this.$store.dispatch("auth/logout");
    },

    async fetchSession() {
      const response = await this.$api.fetchData("/session");
      if (response.status === 200) {
        this.$store.commit("auth/SET_SESSION", response.data.data);
      }
    }
  },
  mounted() {
    // this.fetchSession();
  }
};
</script>

<style lang="scss">
.el-dropdown-link {
  color: #ffffff;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  background: #1d8cff;
  color: #fff;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.14);
  padding: 5px 10px;
  .left-navbar,
  .right-navbar {
    display: flex;
    align-items: center;
  }
}

.menu-list a {
  border-radius: 2px;
  color: #4a4a4a;
  display: block;
  padding: 0.5em 0.8em;
  &:hover {
    background: #ebebeb;
    text-decoration: none;
  }
}
</style>
