<template>
  <f-dialog :value.sync="modal" width="400px">
    <div class="card-custom">
      <div class="card-head d-flex align-items-center justify-content-between">
        <p class="m-0 font-weight-bold">
          {{ categoryData ? "Edit" : "Add" }} Category
        </p>
        <el-button type="info" size="small" plain @click="modal = false">
          <i class="fas fa-times"></i>
        </el-button>
      </div>
      <div class="card-content">
        <el-form :model="form" :rules="rules" ref="refForm">
          <el-form-item label="Category Name" prop="name">
            <el-input
              v-model="form.name"
              placeholder="Input category name"
            ></el-input>
          </el-form-item>

          <el-form-item>
            <el-button
              type="primary"
              class="mt-3"
              size="small pull-right"
              @click="submitCategory()"
            >
              {{ categoryData ? "Save Changes" : "Submit" }}</el-button
            >
          </el-form-item>
        </el-form>
      </div>
    </div>
    <f-loading :value="response.isLoading"></f-loading>
  </f-dialog>
</template>

<script>
import { handler } from "@/controllers/handler";
import {
  computed,
  onMounted,
  reactive,
  ref,
  watch
} from "@vue/composition-api";

export default {
  props: {
    dialog: {
      type: Boolean
    },

    categoryData: {
      type: Object
    },

    fetchNews: {
      type: Function
    }
  },

  setup(props, { emit }) {
    const { form: response, postData, putData } = handler();

    const form = reactive({
      name: null
    });

    const rules = reactive({
      name: [
        {
          required: true,
          message: "Please input category name",
          trigger: "blur"
        }
      ]
    });

    const modal = computed({
      get: () => {
        return props.dialog;
      },
      set: val => {
        emit("update:dialog", val);
      }
    });

    onMounted(() => {
      if (props.categoryData) {
        form.name = props.categoryData.name;
      }
    });

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          emit("update:dialog", false);
          props.fetchNews();
        }
      },
      { deep: true }
    );

    function submit() {
      postData("/category", form);
    }

    function update() {
      putData(`/category/${props.categoryData.id}`, form);
    }

    const refForm = ref(null);

    function submitCategory() {
      refForm.value.validate(valid => {
        if (valid) {
          !props.categoryData ? submit() : update();
        }
      });
    }

    return {
      modal,
      form,
      rules,
      response,
      refForm,
      submitCategory
    };
  }
};
</script>
