<template>
  <f-dialog :value.sync="modal" width="400px">
    <div class="card-custom">
      <div class="card-head d-flex align-items-center justify-content-between">
        <p class="mb-0 font-weight-bold">
          {{ menuData ? "Edit" : "Add" }} Menu
        </p>
        <el-button type="info" size="small" plain @click="modal = false">
          <i class="fas fa-times"></i>
        </el-button>
      </div>
      <div class="card-content">
        <el-form
          :model="form"
          :rules="rules"
          ref="refForm"
          label-width="120px"
          class="demo-form"
        >
          <el-form-item label="Menu Name" prop="name">
            <el-input v-model="form.name" placeholder="Input name"></el-input>
          </el-form-item>

          <div class="form-group mt-3">
            <label for="forDesc" class="font-weight-500">Status</label>
            <div class="f-nav-toggle mt-2">
              <a
                class="nav-item"
                style="flex-basis:50%;border-radius:4px 0 0 4px"
                :class="{ active: form.status === 0 }"
                @click="form.status = 0"
                >Inactive</a
              >
              <a
                class="nav-item"
                style="flex-basis:50%;border-radius:0 4px 4px 0"
                :class="{ active: form.status === 1 }"
                @click="form.status = 1"
                >Active</a
              >
            </div>
          </div>

          <el-form-item label="Type" prop="type">
            <el-input v-model="form.type" placeholder="Input type"></el-input>
          </el-form-item>

          <el-form-item label="Route" prop="route">
            <el-input v-model="form.route" placeholder="Input route"></el-input>
          </el-form-item>

          <el-form-item label="Icon" prop="icon">
            <f-upload-image
              v-model="form.icon"
              label="Icon"
              width="100px"
              height="100px"
              :previewImage="menuData ? menuData.icon : null"
            ></f-upload-image>
          </el-form-item>

          <el-form-item>
            <el-button
              type="primary"
              size="small pull-right"
              @click="submitMenu('form')"
            >
              {{ menuData ? "Save Changes" : "Submit" }}</el-button
            >
          </el-form-item>
        </el-form>
      </div>
    </div>
    <f-loading :value="response.isLoading"></f-loading>
  </f-dialog>
</template>

<script>
import { handler } from "@/controllers/handler";
import {
  computed,
  onMounted,
  reactive,
  ref,
  watch
} from "@vue/composition-api";

export default {
  props: {
    dialog: {
      type: Boolean
    },

    menuData: {
      type: Object
    },

    fetchMenus: {
      type: Function
    }
  },

  setup(props, { emit }) {
    const { form: response, postData } = handler();

    const form = reactive({
      icon: null,
      name: null,
      status: 0,
      route: null,
      type: null
    });

    const rules = reactive({
      icon: [
        {
          required: true,
          message: "Please input logo",
          trigger: "blur"
        }
      ],
      name: [
        {
          required: true,
          message: "Please input name",
          trigger: "blur"
        }
      ],
      status: [
        {
          required: true,
          message: "Please input name",
          trigger: "blur"
        }
      ],
      route: [
        {
          required: true,
          message: "Please input name",
          trigger: "blur"
        }
      ],
      type: [
        {
          required: true,
          message: "Please input name",
          trigger: "blur"
        }
      ]
    });

    const modal = computed({
      get: () => {
        return props.dialog;
      },
      set: val => {
        emit("update:dialog", val);
      }
    });

    onMounted(() => {
      if (props.menuData) {
        form.name = props.menuData.name;
        form.status = props.menuData.status;
        form.route = props.menuData.route;
        form.type = props.menuData.type;
      }
    });

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          emit("update:dialog", false);
          props.fetchMenus();
        }
      },
      { deep: true }
    );

    function submit() {
      let fd = new FormData();
      fd.append("icon", form.icon);
      fd.append("name", form.name);
      fd.append("status", form.status);
      fd.append("route", form.route);
      fd.append("type", form.type);

      postData("/menu", fd);
    }

    function update() {
      let fd = new FormData();
      if (form.icon) {
        fd.append("icon", form.icon);
      }
      fd.append("name", form.name);
      fd.append("status", form.status);
      fd.append("route", form.route);
      fd.append("type", form.type);
      postData(`/menu/${props.menuData.id}`, fd);
    }

    const refForm = ref(null);

    function submitMenu() {
      refForm.value.validate(valid => {
        if (valid) {
          !props.menuData ? submit() : update();
        }
      });
    }

    return {
      modal,
      form,
      rules,
      response,
      refForm,
      submitMenu
    };
  }
};
</script>
