<template>
  <div class="dashboard">
    <div class="bg-white p-4">
      <h3 class="mt-0 mb-0">Setting Admin Fee</h3>
    </div>
    <div class="p-3">
      <div class="row">
        <div class="col d-flex align-items-center">
          <p class="m-0 font-weight-normal color-grey-500">
            Manage your admin fee here.
          </p>
        </div>
      </div>
      <div class="card-custom p-3 mt-3">
        <!-- skeleton loader -->
        <f-placeholder v-if="result.isLoading"></f-placeholder>
        <div class="items-content bg-white mt-2" v-else>
          <div class="row bg-grey-300">
            <div class="col text-center font-weight-500 border-right p-2">
              Admin Fee
            </div>
            <div class="col text-center font-weight-500 border-right p-2">
              Created at
            </div>
            <div class="col text-center font-weight-500 p-2">
              Action
            </div>
          </div>
          <div
            v-for="item in state.admin_fee"
            :key="item.id"
            class="row bg-white border-bottom"
          >
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              <el-input
                v-model="item.price"
                placeholder="Input code"
                v-if="state.isEdit"
              ></el-input>
              <p class="m-0" v-else>Rp. {{ item.price | price }}</p>
            </div>
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              {{ item.created_at | formatDate }}
            </div>
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              <el-button
                plain
                size="small"
                @click="updateAdminFee(item)"
                v-if="state.isEdit"
                type="primary"
              >
                Submit
              </el-button>
              <el-button plain size="small" @click="state.isEdit = true" v-else>
                <i class="fas fa-edit"></i>
              </el-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <f-loading :value="response.isLoading"></f-loading>
  </div>
</template>

<script>
import { handler } from "@/controllers/handler";
import { onMounted, reactive, watch } from "@vue/composition-api";

export default {
  setup() {
    const { form: response, putData, result, fetchData } = handler();

    const state = reactive({
      admin_fee: [],
      isEdit: false
    });

    onMounted(() => {
      fetchAdminFee();
    });

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          fetchAdminFee();
          state.isEdit = false;
        }
      },
      { deep: true }
    );

    watch(
      () => result.response,
      value => {
        if (value) {
          state.admin_fee = value.data;
        }
      },
      { deep: true }
    );

    function fetchAdminFee() {
      fetchData("/admin-fee");
    }

    function updateAdminFee(form) {
      putData(`/admin-fee/${form.id}`, {
        price: form.price
      });
    }

    return {
      state,
      result,
      response,
      updateAdminFee
    };
  }
};
</script>
