<template>
  <div class="dashboard">
    <div class="bg-white p-4">
      <h3 class="mt-0 mb-0">Product List</h3>
    </div>
    <div class="p-3">
      <div class="card-custom p-3">
        <!-- skeleton loader -->
        <f-placeholder v-if="result.isLoading"></f-placeholder>
        <div class="items-content bg-white mt-2" v-else>
          <div class="row bg-grey-300">
            <div class="col text-center font-weight-500 border-right p-2">
              Image
            </div>
            <div class="col text-center font-weight-500 border-right p-2">
              Name
            </div>
            <div class="col text-center font-weight-500 border-right p-2">
              Category
            </div>
            <div class="col text-center font-weight-500 border-right p-2">
              Description
            </div>
            <div class="col text-center font-weight-500 border-right p-2">
              Stock
            </div>
            <div class="col text-center font-weight-500 p-2">
              Price
            </div>
            <div class="col text-center font-weight-500 p-2">
              Weight
            </div>
            <div class="col text-center font-weight-500 p-2">
              Time Created
            </div>
          </div>
          <div v-if="state.datas.length === 0">
            <p class="text-center mt-2">No datas</p>
          </div>
          <div
            v-else
            v-for="item in state.datas"
            :key="item.id"
            class="row bg-white border-bottom"
          >
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              <img
                :src="item.photo"
                alt=""
                width="40px"
                height="40px"
                class="circle responsive-img"
              />
            </div>
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              {{ item.name }}
            </div>
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              {{ item.productCategory.name }}
            </div>
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              {{ item.description }}
            </div>
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              {{ item.stock | price }}
            </div>
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              Rp. {{ item.price | price }}
            </div>
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              {{ item.weight | price }} gram
            </div>
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              {{ item.created_at | formatDate }}
            </div>
          </div>
        </div>

        <f-pagination
          class="mt-3"
          v-if="state.pagination"
          v-model="filter.page"
          :totalPage="state.pagination.total_page"
        ></f-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { handler } from "@/controllers/handler";
import { onMounted, reactive, watch } from "@vue/composition-api";

export default {
  setup() {
    const { result, fetchData } = handler();

    const state = reactive({
      datas: [],
      pagination: null
    });

    const filter = reactive({
      page: 0
    });

    watch(
      () => result,
      value => {
        if (value.response) {
          state.datas = value.response.data;
          state.pagination = value.response.paging;
        }
      },
      {
        deep: true
      }
    );

    watch(
      () => filter,
      () => {
        fetchMenus();
      },
      {
        deep: true
      }
    );

    function fetchMenus() {
      fetchData("/product", filter);
    }

    onMounted(() => {
      fetchMenus();
    });

    return {
      state,
      filter,
      result,
      fetchMenus
    };
  }
};
</script>
