<template>
  <div class="d-flex align-items-center">
    <el-button type="button" :disabled="value === 0" @click="count -= 1">
      <i class="fas fa-chevron-left"></i>
    </el-button>
    <el-button
      type="button"
      :disabled="value === totalPage - 1"
      @click="count += 1"
    >
      <i class="fas fa-chevron-right"></i>
    </el-button>
    <div class="d-flex align-items-center ml-3">
      <p class="m-0 mr-2">Page</p>
      <el-input-number
        class="text-center w-25"
        v-model="value"
        :controls="false"
        :min="0"
        :max="totalPage - 1"
      />
      <p class="m-0 ml-3" v-if="totalPage">Total Page: {{ totalPage }}</p>
      <p class="m-0" v-if="totalRecord">Total Record: {{ totalRecord }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    totalRecord: {
      type: Number,
      default: null
    },
    totalPage: {
      type: Number,
      default: null
    }
  },
  data: () => ({
    value: 0
  }),
  watch: {
    value(newValue) {
      this.$emit("input", parseInt(newValue));
    }
  },
  computed: {
    count: {
      get() {
        return parseInt(this.value);
      },
      set(val) {
        this.value = val;
      }
    }
  }
};
</script>
