<template>
  <div class="paragraph-c">
    <div class="paragraph" v-if="value">
      <p ref="paragraph">
        {{
          isViewMore && value.length > 120
            ? !readmore
              ? value.slice(0, 120) + "..."
              : value
            : value
        }}
      </p>
      <a
        class="text-size-small"
        href="#"
        v-if="isViewMore &amp;&amp; value.length &gt; 120"
        @click="readmore = !readmore"
        >view {{ readmore ? "less" : "more" }}</a
      >
    </div>
    <div class="paragraph" v-else>-</div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: null
    },
    isViewMore: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    readmore: false
  })
};
</script>
