<template>
  <div class="dashboard">
    <div class="bg-white p-4">
      <h3 class="mt-0 mb-0">Add News</h3>
    </div>
    <div class="p-3">
      <div class="card-custom p-3 mt-3">
        <el-form :model="form" :rules="rules" ref="refForm">
          <el-form-item label="Image" prop="image">
            <f-upload-image
              v-model="form.image"
              height="250px"
              width="400px"
            ></f-upload-image>
          </el-form-item>

          <el-form-item label="Title" prop="title">
            <el-input
              type="text"
              v-model="form.title"
              placeholder="Input news title"
            ></el-input>
          </el-form-item>

          <el-form-item label="Content" prop="content">
            <div class="clear"></div>
            <ckeditor v-model="form.content"></ckeditor>
          </el-form-item>

          <el-form-item>
            <el-button
              type="primary"
              class="mt-3"
              size="small pull-right"
              @click="submit()"
            >
              Submit News</el-button
            >
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import { handler } from "@/controllers/handler";
import { reactive, ref, watch } from "@vue/composition-api";

export default {
  setup(_, ctx) {
    const { form: response, postData } = handler();

    const form = reactive({
      image: null,
      title: null,
      content: null
    });

    const rules = reactive({
      image: [
        {
          required: true,
          message: "Please input image",
          trigger: "blur"
        }
      ],
      title: [
        {
          required: true,
          message: "Please input title",
          trigger: "blur"
        }
      ],
      content: [
        {
          required: true,
          message: "Please input content",
          trigger: "blur"
        }
      ]
    });

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          ctx.root.$router.push({ name: "news" });
        }
      },
      { deep: true }
    );

    const refForm = ref(null);

    function submit() {
      refForm.value.validate(valid => {
        if (valid) {
          let fd = new FormData();
          fd.append("image", form.image);
          fd.append("title", form.title);
          fd.append("content", form.content);
          postData("/news", fd);
        }
      });
    }

    return {
      form,
      rules,
      response,
      refForm,
      submit
    };
  }
};
</script>
