<template>
  <div class="dashboard">
    <div class="bg-white p-4">
      <h3 class="mt-0 mb-0">Add News</h3>
    </div>
    <div class="p-3">
      <div class="card-custom p-3 mt-3">
        <el-form :model="form" :rules="rules" ref="refForm">
          <el-form-item label="Image">
            <f-upload-image
              v-model="form.image"
              height="250px"
              width="400px"
              :previewImage="state.newsBanner || null"
            ></f-upload-image>
          </el-form-item>

          <el-form-item label="Title" prop="title">
            <el-input
              type="text"
              v-model="form.title"
              placeholder="Input news title"
            ></el-input>
          </el-form-item>

          <el-form-item label="content" prop="content">
            <div class="clear"></div>
            <ckeditor v-model="form.content"></ckeditor>
          </el-form-item>

          <el-form-item>
            <el-button
              type="primary"
              class="mt-3"
              size="small pull-right"
              @click="submitNews()"
            >
              Save Changes</el-button
            >
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import { handler } from "@/controllers/handler";
import {
  computed,
  onMounted,
  reactive,
  ref,
  watch
} from "@vue/composition-api";

export default {
  props: {
    dialog: {
      type: Boolean
    },

    fetchBanners: {
      type: Function
    }
  },

  setup(props, ctx) {
    const { form: response, postData, result, fetchData } = handler();

    const state = reactive({
      newsBanner: null
    });

    const form = reactive({
      image: null,
      title: null,
      content: null
    });

    const rules = reactive({
      title: [
        {
          required: true,
          message: "Please input title",
          trigger: "blur"
        }
      ],
      content: [
        {
          required: true,
          message: "Please input content",
          trigger: "blur"
        }
      ]
    });

    const modal = computed({
      get: () => {
        return props.dialog;
      },
      set: val => {
        ctx.emit("update:dialog", val);
      }
    });

    onMounted(() => {
      const _this = ctx.root;
      fetchData(`/news/${_this.$route.params.id}`);
    });

    watch(
      () => result,
      value => {
        if (value.response) {
          const _this = ctx.root;
          state.newsBanner = _this.$filters.imageView(
            value.response.data.image
          );
          form.title = value.response.data.title;
          form.content = value.response.data.content;
        }
      },
      { deep: true }
    );

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          const _this = ctx.root;
          _this.$router.push({ name: "news" });
        }
      },
      { deep: true }
    );

    const refForm = ref(null);

    function submitNews() {
      const _this = ctx.root;
      refForm.value.validate(valid => {
        if (valid) {
          let fd = new FormData();
          if (form.image) {
            fd.append("image", form.image);
          }
          fd.append("title", form.title);
          fd.append("content", form.content);
          postData(`/news/${_this.$route.params.id}`, fd);
        }
      });
    }

    return {
      state,
      modal,
      form,
      rules,
      response,
      refForm,
      submitNews
    };
  }
};
</script>
