<template>
  <div class="dashboard">
    <div class="bg-white p-4">
      <h3 class="mt-0 mb-0">News List</h3>
    </div>
    <div class="p-3">
      <div class="row">
        <div class="col d-flex align-items-center">
          <p class="m-0 font-weight-normal color-grey-500">
            Manage your applications news here.
          </p>
        </div>
        <div class="col text-right">
          <el-button
            type="primary"
            @click="$router.push({ name: 'news-add' })"
            size="small"
          >
            <i class="fas fa-plus"></i>
            Add News
          </el-button>
        </div>
      </div>

      <div class="card-custom p-3 mt-3">
        <!-- skeleton loader -->
        <f-placeholder v-if="result.isLoading"></f-placeholder>
        <div class="items-content bg-white mt-2" v-else>
          <div class="row bg-grey-300">
            <div class="col text-center font-weight-500 border-right p-2">
              Image
            </div>
            <div class="col text-center font-weight-500 border-right p-2">
              Title
            </div>
            <!-- <div class="col text-center font-weight-500 border-right p-2">
              Content
            </div> -->
            <div class="col text-center font-weight-500 p-2">
              Time Created
            </div>
            <div class="col text-center font-weight-500 p-2">
              Action
            </div>
          </div>
          <div v-if="state.datas.length === 0">
            <p class="text-center mt-2">No datas</p>
          </div>
          <div
            v-else
            v-for="item in state.datas"
            :key="item.id"
            class="row bg-white border-bottom"
          >
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              <img
                :src="item.image"
                alt=""
                width="200px"
                height="100px"
                class="circle responsive-img"
              />
            </div>
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              {{ item.title }}
            </div>
            <!-- <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              <p class="m-0" v-html="item.content"></p>
              <f-paragraph :value="item.content" isViewMore></f-paragraph>
            </div> -->
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              {{ item.created_at | formatDate }}
            </div>
            <div
              class="col d-flex align-items-center justify-content-center font-weight-normal border-right p-2"
            >
              <el-button
                plain
                size="small"
                @click="
                  $router.push({ name: 'news-edit', params: { id: item.id } })
                "
              >
                <i class="fas fa-edit"></i>
              </el-button>
              <el-button plain size="small" @click="deleteNews(item.id)">
                <i class="fas fa-trash-alt"></i>
              </el-button>
            </div>
          </div>
        </div>

        <f-pagination
          class="mt-3"
          v-if="state.pagination"
          v-model="filter.page"
          :totalPage="state.pagination.total_page"
        ></f-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { handler } from "@/controllers/handler";
import { onMounted, reactive, watch } from "@vue/composition-api";

export default {
  setup(_, ctx) {
    const { result, fetchData, form: response, deleteData } = handler();

    const state = reactive({
      datas: [],
      pagination: null
    });

    const filter = reactive({
      page: 0
    });

    watch(
      () => result,
      value => {
        if (value.response) {
          state.datas = value.response.data;
          state.pagination = value.response.paging;
        }
      },
      {
        deep: true
      }
    );

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          fetchNews();
        }
      },
      { deep: true }
    );

    watch(
      () => filter,
      () => {
        fetchNews();
      },
      {
        deep: true
      }
    );

    const deleteNews = async newsId => {
      if (
        await ctx.root.$confirm({
          title: "Are you sure want to delete this news?",
          lbLabel: "Cancel",
          rbLabel: "Ok",
          forceStay: false
        })
      ) {
        deleteData(`/news/${newsId}`);
      }
    };

    function fetchNews() {
      fetchData("/news", filter);
    }

    onMounted(() => {
      fetchNews();
    });

    return {
      state,
      filter,
      result,
      fetchNews,
      deleteNews
    };
  }
};
</script>
