<template>
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="card-custom p-3">
        <div class="row">
          <div class="col-4">
            <div
              class="rounded-circle p-3 bg-blue-50"
              style="padding: 14px;width: 30px;height: 30px;"
            >
              <i class="fas fa-wallet color-blue" style="font-size:30px"></i>
            </div>
          </div>
          <div class="col">
            <p class="mb-1 font-weight-light mt-2 m-0">Digiflazz Credit</p>
            <h3 class="color-grey-900 font-weight-bold mt-2 m-0">
              Rp. {{ credits.digiflazzCredit | price }}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="card-custom p-3">
        <div class="row">
          <div class="col-4">
            <div
              class="rounded-circle bg-red-50"
              style="padding: 16px;width: 30px;height: 30px;"
            >
              <i class="fas fa-coins color-red-400" style="font-size:30px"></i>
            </div>
          </div>
          <div class="col">
            <p class="mb-1 font-weight-light mt-2 m-0">Users Balance</p>
            <h3 class="color-grey-900 font-weight-bold mt-2 m-0">
              Rp. {{ credits.totalUserBalance | price }}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="card-custom p-3">
        <div class="row">
          <div class="col-4">
            <div
              class="rounded-circle p-3 bg-green-50"
              style="padding: 14px;width: 30px;height: 30px;"
            >
              <i
                class="fas fa-hand-holding-usd color-green-500"
                style="font-size:30px"
              ></i>
            </div>
          </div>
          <div class="col">
            <p class="mb-1 font-weight-light mt-2 m-0">
              Profit Digital Transaction
            </p>
            <h3 class="color-grey-900 font-weight-bold mt-2 m-0">
              Rp. {{ credits.income.digital | price }}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="card-custom p-3">
        <div class="row">
          <div class="col-4">
            <div
              class="rounded-circle p-3 bg-yellow-50"
              style="padding: 14px;width: 30px;height: 30px;"
            >
              <i
                class="fas fa-hand-holding-usd color-yellow-900"
                style="font-size:30px"
              ></i>
            </div>
          </div>
          <div class="col">
            <p class="mb-1 font-weight-light mt-2 m-0">
              Profit Product Transaction
            </p>
            <h3 class="color-grey-900 font-weight-bold mt-2 m-0">
              Rp. {{ credits.income.product | price }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    credits: {
      type: Object,
      required: true
    }
  }
};
</script>
