<template>
  <div id="app">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
export default {
  computed: {
    layout() {
      let layout;
      if (this.$route.meta.layout) {
        layout = this.$route.meta.layout + "-layout";
      }
      return layout;
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/custom-ui/custom";
@import "@/assets/styles/element-ui/custom";
</style>
