<template>
  <f-dialog :value.sync="modal" width="600px">
    <div class="card-custom">
      <div class="card-head d-flex align-items-center justify-content-between">
        <p class="m-0 font-weight-bold">Detail Transaksi</p>
        <el-button type="info" size="small" plain @click="modal = false">
          <i class="fas fa-times"></i>
        </el-button>
      </div>
      <div class="card-content">
        <div class="card-custom p-2">
          <h3 class="text-capitalize m-0">
            status: {{ payload.status | lowercase }}
          </h3>
        </div>
        <div class="card-custom p-2 mt-2">
          <h3 class="text-capitalize m-0">Pengiriman</h3>
          <div class="mt-2" v-if="payload.origin_details">
            <h5 class="text-capitalize m-0 text-color-gray">Dikirim Dari</h5>
            <p class="m-0">
              {{ payload.origin_details.subdistrict_name }},
              {{ payload.origin_details.type }},
              {{ payload.origin_details.city }},
              {{ payload.origin_details.province }}.
            </p>
          </div>
          <div class="mt-2" v-if="payload.destination_details">
            <h5 class="text-capitalize m-0 text-color-gray">Dikirim Ke</h5>
            <p class="m-0">
              {{ payload.destination_details.subdistrict_name }},
              {{ payload.destination_details.type }},
              {{ payload.destination_details.city }},
              {{ payload.destination_details.province }}.
            </p>
          </div>
          <h3 class="text-capitalize m-0 mt-2">Kurir</h3>
          <p class="m-0">{{ payload.courier_service }}</p>
        </div>
        <div class="card-custom p-2 mt-2">
          <h3 class="text-capitalize m-0">Detail Kustomer</h3>
          <div class="mt-2" v-if="payload.user">
            <div class="row">
              <div class="col-6">
                <h5 class="text-capitalize m-0 text-color-gray">Nama</h5>
                <p class="m-0">{{ payload.user.name }}</p>
              </div>
              <div class="col-6">
                <h5 class="text-capitalize m-0 text-color-gray">No. Telp</h5>
                <p class="m-0">{{ payload.user.phone }}</p>
              </div>
              <div class="col">
                <h5 class="text-capitalize m-0 text-color-gray mt-2">Alamat</h5>
                <p class="m-0">{{ payload.user.address }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-custom p-2 mt-2">
          <h3 class="text-capitalize m-0">Detail Order</h3>

          <table class="table table-list table-striped">
            <thead>
              <tr>
                <th class="text-size-small bg-white border-right" width="8%">
                  Produk
                </th>
                <th
                  class="text-size-small bg-white border-right text-center"
                  width="8%"
                >
                  Harga
                </th>
                <th
                  class="text-size-small bg-white border-right text-center"
                  width="5%"
                >
                  Berat
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="payload.detail.length === 0">
                <td class="text-size-small text-center" colspan="8">
                  No Data
                </td>
              </tr>
              <tr v-for="(item, index) in payload.detail" :key="index">
                <td class="text-size-small align-middle">
                  <div class="row">
                    <div class="col-3">
                      <img
                        :src="item.photo"
                        alt=""
                        width="40px"
                        height="40px"
                        class="circle responsive-img"
                      />
                    </div>
                    <div class="col">
                      <p class="m-0">{{ item.name }}</p>
                    </div>
                  </div>
                </td>
                <td
                  class="text-size-small text-center text-capitalize align-middle"
                >
                  <p class="m-0">{{ item.price | price }}</p>
                </td>
                <td class="text-size-small text-center align-middle">
                  <p class="m-0">{{ item.weight | price }} gram</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-custom p-2 mt-2">
          <h3 class="text-capitalize m-0">Metode Pembayaran</h3>
          <div class="mt-2" v-if="payload.payment_method">
            <div class="row">
              <div class="col">
                <h5 class="text-capitalize m-0 text-color-gray">Nama Bank</h5>
                <p class="m-0">{{ payload.payment_method.bank_name }}</p>
              </div>
              <div class="col">
                <h5 class="text-capitalize m-0 text-color-gray">Atas Nama</h5>
                <p class="m-0">{{ payload.payment_method.account_name }}</p>
              </div>
              <div class="col">
                <h5 class="text-capitalize m-0 text-color-gray">
                  No. Rekening
                </h5>
                <p class="m-0">{{ payload.payment_method.account_number }}</p>
              </div>
            </div>
          </div>
          <p class="m-0 mt-2" v-else>-</p>
        </div>
      </div>
    </div>
  </f-dialog>
</template>

<script>
import { computed } from "@vue/composition-api";

export default {
  props: {
    dialog: {
      type: Boolean
    },
    payload: {
      type: Object
    }
  },

  setup(props, { emit }) {
    const modal = computed({
      get: () => {
        return props.dialog;
      },
      set: val => {
        emit("update:dialog", val);
      }
    });

    return {
      modal
    };
  }
};
</script>
