<template>
  <div class="text-left">
    <table
      class="table table-list table-bordered table-striped"
      style="min-width:1600px"
    >
      <thead>
        <tr>
          <th
            class="text-size-small bg-white align-middle text-center"
            width="7%"
            rowspan="2"
          >
            Transaction Time
          </th>
          <th class="text-size-small bg-white text-center" colspan="2">
            Customer Details
          </th>
          <th class="text-size-small bg-white text-center" colspan="3">
            Payment Method
          </th>
          <th
            class="text-size-small bg-white align-middle text-center"
            width="5%"
            rowspan="2"
          >
            Amount
          </th>
          <th
            class="text-size-small bg-white align-middle text-center"
            width="5%"
            rowspan="2"
          >
            Status
          </th>
          <th
            class="text-size-small bg-white align-middle text-center"
            width="7%"
            rowspan="2"
          >
            Bukti Transfer
          </th>
          <th
            class="text-size-small bg-white align-middle text-center"
            width="5%"
            rowspan="2"
          >
            Last Update
          </th>
          <th
            class="text-size-small bg-white align-middle table-sticky-column text-center"
            width="6%"
            style="z-index: 3 !important;right:117px"
            rowspan="2"
          >
            Detail
          </th>
          <th
            class="text-size-small bg-white align-middle table-sticky-column text-center"
            width="6%"
            style="z-index: 3 !important"
            rowspan="2"
          >
            Action
          </th>
        </tr>
        <tr>
          <th
            class="text-size-small bg-white border-right text-center"
            width="8%"
          >
            Name
          </th>
          <th
            class="text-size-small bg-white border-right text-center"
            width="8%"
          >
            Phone
          </th>
          <th
            class="text-size-small bg-white border-right text-center"
            width="5%"
          >
            Bank Name
          </th>
          <th
            class="text-size-small bg-white border-right text-center"
            width="8%"
          >
            Account Name
          </th>
          <th
            class="text-size-small bg-white border-right text-center"
            width="6%"
          >
            Account
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="transactions.length === 0">
          <td class="text-size-small text-center" colspan="8">
            No Data
          </td>
        </tr>
        <tr v-for="(item, index) in transactions" :key="index">
          <td class="text-size-small text-center align-middle">
            {{ item.created_at | formatDate("DD/MM/YYYY - HH:mm") }}
          </td>
          <td class="text-size-small text-center text-capitalize align-middle">
            {{ item.user.name || "-" }}
          </td>
          <td class="text-size-small text-center align-middle">
            {{ item.user.phone || "-" }}
          </td>
          <td class="text-size-small text-center text-capitalize align-middle">
            {{ item.payment_method ? item.payment_method.bank_name : "-" }}
          </td>
          <td class="text-size-small text-center align-middle">
            {{ item.payment_method ? item.payment_method.account_name : "-" }}
          </td>
          <td class="text-size-small text-center align-middle">
            {{ item.payment_method ? item.payment_method.account_number : "-" }}
          </td>
          <td class="text-size-small text-cente align-middle">
            Rp.{{
              (parseInt(item.amount) + parseInt(item.unique_code)) | price
            }}
          </td>
          <td class="text-size-small text-center align-middle">
            <p
              class="mt-0 mb-0 text-capitalize"
              :class="
                item.status === 'FINISHED'
                  ? 'color-green'
                  : item.status === 'REJECTED'
                  ? 'color-red'
                  : 'color-yellow-800'
              "
            >
              {{ item.status.replace(/_/g, " ") | lowercase }}
            </p>
          </td>
          <td class="text-size-small text-center align-middle">
            <a
              href="javascript:void(0)"
              @click="
                (state.isDialog = true),
                  (state.file_image = item.payment_confirmation)
              "
              >Lihat Bukti</a
            >
          </td>
          <td class="text-size-small text-center align-middle">
            {{ item.updated_at | formatDate }}
          </td>
          <td
            class="text-size-small text-center table-sticky-column align-middle"
            style="z-index: 2 !important;right:117px"
          >
            <a
              href="javascript:void(0)"
              @click="
                (state.isDetailDialog = true), (state.detailTransactions = item)
              "
              >Lihat Detail</a
            >
          </td>
          <td
            class="text-size-small text-center table-sticky-column"
            style="z-index: 2 !important;"
          >
            <div class="action" v-if="item.status === 'WAITING_PAYMENT'">
              <el-button
                type="success"
                size="small"
                @click="trasactionAction(item.id, 'REQUESTED')"
                class="mb-1 w-100"
              >
                Approve
              </el-button>
              <el-button
                type="danger"
                size="small"
                @click="trasactionAction(item.id, 'REJECTED')"
                class="w-100 ml-0"
              >
                Reject
              </el-button>
            </div>
            <div class="action" v-else-if="item.status === 'DELIVERING'">
              <el-button
                type="success"
                size="small"
                @click="trasactionAction(item.id, 'FINISHED')"
                class="mb-1 w-100"
              >
                Finish
              </el-button>
            </div>
            <p v-else>No Action</p>
          </td>
        </tr>
      </tbody>
    </table>

    <f-dialog :value.sync="state.isDialog" width="400px">
      <div class="card-custom">
        <div
          class="card-head d-flex align-items-center justify-content-between"
        >
          <p class="m-0 font-weight-bold">Bukti Transfer</p>
          <el-button
            type="info"
            plain
            size="small"
            @click="state.isDialog = false"
          >
            <i class="fas fa-times"></i>
          </el-button>
        </div>
        <div class="card-content">
          <div style="min-height:400px">
            <img
              :src="state.file_image"
              alt="bukti-transfer"
              width="100%"
              height="auto"
              class="border"
              v-if="state.file_image"
            />
            <p class="text-center" v-else>Data tidak ditemukan</p>
          </div>
        </div>
      </div>
    </f-dialog>

    <DetailTransaction
      v-if="state.isDetailDialog"
      :dialog.sync="state.isDetailDialog"
      :payload="state.detailTransactions"
    />

    <f-loading :value="response.isLoading"></f-loading>
  </div>
</template>

<script>
import { handler } from "@/controllers/handler";
import { reactive, watch } from "@vue/composition-api";

export default {
  props: {
    transactions: {
      type: Array
    },
    fetchTransactions: {
      type: Function
    }
  },

  components: {
    DetailTransaction: () =>
      import("@/components/transaction/DetailTransaction")
  },

  setup(props, ctx) {
    const { form: response, putData } = handler();

    const state = reactive({
      isDialog: false,
      file_image: null,
      isDetailDialog: false,
      detailTransactions: null
    });

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          props.fetchTransactions();
        }
      },
      { deep: true }
    );

    const trasactionAction = async (topup_id, status) => {
      if (
        await ctx.root.$confirm({
          title: "Are you sure for this action?",
          lbLabel: "Cancel",
          rbLabel: "Ok",
          forceStay: false
        })
      ) {
        // if (status === "deposit") {
        //   putData(`/transaction/topup/deposit/${topup_id}`, {
        //     status: true
        //   });
        // } else {
        putData(`/transaction/product/${topup_id}`, {
          status: status
        });
        // }
      }
    };

    return {
      state,
      trasactionAction,
      response
    };
  }
};
</script>
