<template>
  <div>
    <table
      class="table table-list table-bordered table-striped"
      style="min-width:1400px"
    >
      <thead>
        <tr>
          <th
            class="text-size-small bg-white align-middle"
            width="7%"
            rowspan="2"
          >
            Transaction Time
          </th>
          <th class="text-size-small bg-white" colspan="2">
            User Details
          </th>
          <th class="text-size-small bg-white" colspan="3">
            Bank Details
          </th>
          <th
            class="text-size-small bg-white align-middle"
            width="5%"
            rowspan="2"
          >
            Amount
          </th>
          <th
            class="text-size-small bg-white align-middle"
            width="5%"
            rowspan="2"
          >
            Status
          </th>
          <th
            class="text-size-small bg-white align-middle"
            width="5%"
            rowspan="2"
          >
            Last Update
          </th>
          <th
            class="text-size-small bg-white align-middle table-sticky-column"
            width="6%"
            style="z-index: 3 !important"
            rowspan="2"
          >
            Action
          </th>
        </tr>
        <tr>
          <th class="text-size-small bg-white border-right" width="5%">Name</th>
          <th class="text-size-small bg-white border-right" width="5%">
            Phone
          </th>
          <th class="text-size-small bg-white border-right" width="5%">
            Bank Name
          </th>
          <th class="text-size-small bg-white border-right" width="8%">
            Account Name
          </th>
          <th class="text-size-small bg-white border-right" width="6%">
            Account Number
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="transactions.length === 0">
          <td class="text-size-small text-center" colspan="8">
            No Data
          </td>
        </tr>
        <tr v-for="(item, index) in transactions" :key="index">
          <td class="text-size-small text-center align-middle">
            {{ item.created_at | formatDate("DD/MM/YYYY - HH:mm") }}
          </td>
          <td class="text-size-small text-center align-middle">
            {{ item.user_bank.user ? item.user_bank.user.name : "-" }}
          </td>
          <td class="text-size-small text-center align-middle">
            {{ item.user_bank.user ? item.user_bank.user.phone : "-" }}
          </td>
          <td class="text-size-small text-center text-capitalize align-middle">
            {{ item.user_bank ? item.user_bank.bank_name : "-" }}
          </td>
          <td class="text-size-small text-center align-middle">
            {{ item.user_bank ? item.user_bank.account_name : "-" }}
          </td>
          <td class="text-size-small text-center align-middle">
            {{ item.user_bank ? item.user_bank.account_number : "-" }}
          </td>
          <td class="text-size-small text-cente align-middle">
            Rp.{{ item.amount | price }}
          </td>
          <td class="text-size-small text-center align-middle">
            <p
              class="mt-0 mb-0 text-capitalize"
              :class="
                item.status === 'APPROVED'
                  ? 'color-green'
                  : item.status === 'PENDING'
                  ? 'color-yellow-800'
                  : 'color-red-500'
              "
            >
              {{ item.status | lowercase }}
            </p>
          </td>
          <td class="text-size-small text-center align-middle">
            {{ item.updated_at | formatDate }}
          </td>
          <td class="text-size-small text-center table-sticky-column">
            <div class="action" v-if="item.status === 'PENDING'">
              <el-button
                type="success"
                size="small"
                @click="topupAction(item.id, 'APPROVED')"
                class="mb-1 w-100"
              >
                Approve
              </el-button>
              <el-button
                type="danger"
                size="small"
                @click="topupAction(item.id, 'REJECTED')"
                class="w-100 ml-0"
              >
                Reject
              </el-button>
            </div>
            <!-- <div
              class="action"
              v-else-if="item.status === 'PAID' && !item.deposited"
            >
              <el-button
                type="primary"
                size="small"
                @click="topupAction(item.id, 'deposit')"
                class="w-100 mb-1"
              >
                Deposit
              </el-button>
            </div> -->
            <p v-else>No Action</p>
          </td>
        </tr>
      </tbody>
    </table>

    <f-loading :value="response.isLoading"></f-loading>
  </div>
</template>

<script>
import { handler } from "@/controllers/handler";
import { watch } from "@vue/composition-api";

export default {
  props: {
    transactions: {
      type: Array
    },
    fetchTransactions: {
      type: Function
    }
  },

  setup(props, ctx) {
    const { form: response, putData } = handler();

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          props.fetchTransactions();
        }
      },
      { deep: true }
    );

    const topupAction = async (topup_id, status) => {
      if (
        await ctx.root.$confirm({
          title: "Are you sure for this action?",
          lbLabel: "Cancel",
          rbLabel: "Ok",
          forceStay: false
        })
      ) {
        // if (status === "deposit") {
        //   putData(`/transaction/topup/deposit/${topup_id}`, {
        //     status: true
        //   });
        // } else {
        putData(`/withdraw/${topup_id}`, {
          status: status
        });
        // }
      }
    };

    return {
      topupAction,
      response
    };
  }
};
</script>
