<template>
  <f-dialog :value.sync="modal" width="400px">
    <div class="card-custom">
      <div class="card-head d-flex align-items-center justify-content-between">
        <p class="mb-0 font-weight-bold">Top Up</p>
        <el-button type="info" size="small" plain @click="modal = false">
          <i class="fas fa-times"></i>
        </el-button>
      </div>
      <div class="card-content">
        <el-form
          :model="form"
          :rules="rules"
          ref="refForm"
          label-width="120px"
          class="demo-form"
        >
          <el-form-item label="Customer" prop="user_id">
            <f-search-customer v-model="form.user_id"></f-search-customer>
          </el-form-item>

          <el-form-item label="Payment Method" prop="payment_method_id">
            <el-select
              v-model="form.payment_method_id"
              placeholder="Select"
              class="w-100"
            >
              <el-option
                v-for="(n, i) in payments.list"
                :key="i"
                :value="n.id"
                :label="`${n.account_name} - (${n.bank_name})`"
              ></el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="Amount" prop="amount">
            <el-input
              v-model="form.amount"
              placeholder="Input amount"
            ></el-input>
          </el-form-item>

          <el-form-item>
            <el-button
              type="primary"
              class="mt-3"
              size="small pull-right"
              @click="submit()"
            >
              Submit</el-button
            >
          </el-form-item>
        </el-form>
      </div>
    </div>
    <f-loading :value="response.isLoading"></f-loading>
  </f-dialog>
</template>

<script>
import { handler } from "@/controllers/handler";
import { utilities } from "@/controllers/utilities";
import {
  computed,
  onMounted,
  reactive,
  ref,
  watch
} from "@vue/composition-api";

export default {
  props: {
    dialog: {
      type: Boolean
    },
    fetchTransactions: {
      type: Function
    }
  },

  setup(props, { emit }) {
    const { payments, fetchPayments } = utilities();
    const { form: response, postData } = handler();

    const form = reactive({
      user_id: null,
      payment_method_id: null,
      amount: null
    });

    const rules = reactive({
      user_id: [
        {
          required: true,
          message: "Please select merchant",
          trigger: "blur"
        }
      ],
      payment_method_id: [
        {
          required: true,
          message: "Please select payment method",
          trigger: "blur"
        }
      ],
      amount: [
        {
          required: true,
          message: "Please input amount",
          trigger: "blur"
        }
      ]
    });

    let modal = computed({
      get: () => {
        return props.dialog;
      },
      set: val => {
        emit("update:dialog", val);
      }
    });

    onMounted(() => {
      fetchPayments();
    });

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          emit("update:dialog", false);
          props.fetchTransactions();
        }
      },
      { deep: true }
    );

    const refForm = ref(null);

    function submit() {
      refForm.value.validate(valid => {
        if (valid) {
          postData("/topup", form);
        }
      });
    }

    return {
      modal,
      form,
      rules,
      payments,
      submit,
      response,
      refForm
    };
  }
};
</script>
