<template>
  <f-dialog :value.sync="modal" width="420px">
    <div class="card-custom">
      <div class="card-head d-flex align-items-center justify-content-between">
        <p class="mb-0 font-weight-bold">
          {{ denomData ? "Edit" : "Add" }} Denom
        </p>
        <el-button type="info" size="small" plain @click="modal = false">
          <i class="fas fa-times"></i>
        </el-button>
      </div>
      <div class="card-content">
        <el-form
          :model="form"
          :rules="rules"
          ref="refForm"
          label-width="120px"
          class="demo-form"
        >
          <el-form-item label="Code" prop="code">
            <el-input v-model="form.code" placeholder="Input code"></el-input>
          </el-form-item>
          <el-form-item label="Amount" prop="amount">
            <el-input
              v-model="form.amount"
              placeholder="Input Amount"
            ></el-input>
          </el-form-item>
          <div class="form-group mt-3">
            <label for="forDesc" class="font-weight-500">Status</label>
            <div class="f-nav-toggle mt-2">
              <a
                class="nav-item"
                style="flex-basis:50%;border-radius:4px 0 0 4px"
                :class="{ active: form.status === false }"
                @click="form.status = false"
                >Inactive</a
              >
              <a
                class="nav-item"
                style="flex-basis:50%;border-radius:0 4px 4px 0"
                :class="{ active: form.status === true }"
                @click="form.status = true"
                >Active</a
              >
            </div>
          </div>
          <el-form-item label="Admin Fee">
            <el-input
              v-model="form.admin_fee"
              placeholder="Input Admin Fee"
            ></el-input>
          </el-form-item>
          <el-form-item label="Price" prop="price">
            <el-input v-model="form.price" placeholder="Input Price"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button
              type="primary"
              class="mt-3"
              size="small pull-right"
              @click="submitDenom('form')"
              >{{ denomData ? "Save Changes" : "Submit Denom" }}</el-button
            >
          </el-form-item>
        </el-form>
      </div>
    </div>
    <f-loading :value="response.isLoading"></f-loading>
  </f-dialog>
</template>

<script>
import { handler } from "@/controllers/handler";
import {
  computed,
  onMounted,
  reactive,
  ref,
  watch
} from "@vue/composition-api";

export default {
  props: {
    dialog: {
      type: Boolean
    },

    providerId: {
      type: Number
    },

    denomData: {
      type: Object
    },

    fetchProviderById: {
      type: Function
    }
  },

  setup(props, { emit }) {
    const { form: response, postData } = handler();

    const form = reactive({
      provider_id: null,
      admin_fee: null,
      status: true,
      price: 0,
      amount: null,
      code: null
    });

    const rules = reactive({
      price: [
        {
          required: true,
          message: "Please input price",
          trigger: "blur"
        }
      ],
      amount: [
        {
          required: true,
          message: "Please input amount",
          trigger: "blur"
        }
      ],
      code: [
        {
          required: true,
          message: "Please input code",
          trigger: "blur"
        }
      ]
    });

    const modal = computed({
      get: () => {
        return props.dialog;
      },
      set: val => {
        emit("update:dialog", val);
      }
    });

    onMounted(() => {
      if (props.denomData) {
        form.provider_id = props.providerId;
        form.admin_fee = props.denomData.admin_fee;
        form.status = props.denomData.status ? true : false;
        // form.price = props.denomData.price;
        form.amount = props.denomData.amount;
        form.code = props.denomData.code;
      }
    });

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          emit("update:dialog", false);
          props.fetchProviderById();
        }
      },
      { deep: true }
    );

    const refForm = ref(null);

    function submitDenom() {
      refForm.value.validate(valid => {
        if (valid) {
          !props.denomData ? submit() : update();
        }
      });
    }

    function submit() {
      form.provider_id = props.providerId;
      postData("/denom", form);
    }

    function update() {
      postData(`/denom/${props.denomData.id}`, form);
    }

    return {
      modal,
      form,
      response,
      rules,
      refForm,
      submitDenom
    };
  }
};
</script>
