<template>
  <f-dialog :value.sync="modal" width="400px">
    <div class="card-custom">
      <div class="card-head d-flex align-items-center justify-content-between">
        <p class="m-0 font-weight-bold">
          {{ providerData ? "Change" : "Add" }} Provider
        </p>
        <el-button type="info" size="small" plain @click="modal = false">
          <i class="fas fa-times"></i>
        </el-button>
      </div>
      <div class="card-content">
        <el-form
          :model="form"
          :rules="rules"
          ref="refForm"
          label-width="120px"
          class="demo-form"
        >
          <el-form-item label="Provider Name" prop="name">
            <el-input v-model="form.name" placeholder="Input name"></el-input>
          </el-form-item>

          <el-form-item label="Logo" :prop="providerData ? '' : 'logo'">
            <f-upload-image
              v-model="form.logo"
              width="180px"
              height="150px"
              :previewImage="providerData ? providerData.logo : null"
            ></f-upload-image>
          </el-form-item>

          <el-form-item>
            <el-button
              type="primary"
              class="mt-3"
              size="small pull-right"
              @click="submitProvider('form')"
            >
              {{ providerData ? "Save Change" : "Submit Provider" }}</el-button
            >
          </el-form-item>
        </el-form>
      </div>
    </div>

    <f-loading :value="response.isLoading"></f-loading>
  </f-dialog>
</template>

<script>
import { handler } from "@/controllers/handler";
import {
  computed,
  onMounted,
  reactive,
  ref,
  watch
} from "@vue/composition-api";

export default {
  props: {
    dialog: {
      type: Boolean
    },
    fetchProvider: {
      type: Function
    },
    providerData: {
      type: Object
    }
  },

  setup(props, { emit }) {
    const { form: response, postData } = handler();

    const form = reactive({
      logo: null,
      name: null
    });

    const rules = reactive({
      logo: [
        {
          required: true,
          message: "Please input logo",
          trigger: "blur"
        }
      ],
      name: [
        {
          required: true,
          message: "Please input name",
          trigger: "blur"
        }
      ]
    });

    const modal = computed({
      get: () => {
        return props.dialog;
      },
      set: val => {
        emit("update:dialog", val);
      }
    });

    onMounted(() => {
      if (props.providerData) {
        form.name = props.providerData.name;
      }
    });

    watch(
      () => response,
      value => {
        if (value.isSuccess) {
          emit("update:dialog", false);
          props.fetchProvider();
        }
      },
      { deep: true }
    );

    function submit() {
      let fd = new FormData();
      fd.append("logo", form.logo);
      fd.append("name", form.name);
      postData("/provider", fd);
    }

    function update() {
      let fd = new FormData();
      if (form.logo) {
        fd.append("logo", form.logo);
      }
      fd.append("name", form.name);
      postData(`/provider/${props.providerData.id}`, fd);
    }

    const refForm = ref(null);

    function submitProvider() {
      refForm.value.validate(valid => {
        if (valid) {
          !props.providerData ? submit() : update();
        }
      });
    }

    return {
      modal,
      form,
      rules,
      submit,
      update,
      response,
      refForm,
      submitProvider
    };
  }
};
</script>
