<template>
  <div class="login">
    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <div class="form-login-card mt-5">
          <div class="content text-center">
            <!-- <h2>Padi Raharja</h2> -->
            <img src="../../assets/logo-web.png" width="140" height="auto" />
            <h3 class="mt-2 mb-2">Login Admin</h3>
            <el-form
              :model="form"
              :rules="rules"
              ref="refForm"
              label-width="120px"
              class="demo-form"
            >
              <el-form-item label="Email" prop="email">
                <el-input
                  v-model="form.email"
                  placeholder="Masukan email"
                ></el-input>
              </el-form-item>

              <el-form-item label="Password" prop="password">
                <el-input
                  :type="show_password ? 'text' : 'password'"
                  v-model="form.password"
                  placeholder="Masukkan Password"
                >
                  <i
                    slot="suffix"
                    class="mr-2 fa"
                    style="cursor: pointer"
                    @click="show_password = !show_password"
                    :class="show_password ? 'fa-eye' : 'fa-eye-slash'"
                  ></i>
                </el-input>
              </el-form-item>
              <el-form-item>
                <el-button
                  type="primary"
                  class="mt-3 w-100"
                  @click="submitForm()"
                  >Masuk</el-button
                >
              </el-form-item>
            </el-form>

            <!-- <p
              class="color-grey-400 position-absolute text-size-mini text-center"
              style="bottom:0"
            >
              &copy; Copyright Pridenjoy.
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, ref, toRefs } from "@vue/composition-api";
export default {
  setup(_, ctx) {
    const state = reactive({
      show_password: false
    });
    const form = reactive({
      email: "", //"fr@emajleng.com",
      password: "" //"123456"
    });

    const rules = reactive({
      email: [
        {
          required: true,
          message: "Please input email",
          trigger: "blur"
        }
      ],
      password: [
        {
          required: true,
          message: "Please input password",
          trigger: "blur"
        }
      ]
    });

    const refForm = ref(null);

    function submitForm() {
      const _this = ctx.root;
      refForm.value.validate(valid => {
        if (valid) {
          _this.$axios
            .post("https://adminapi.padiraharja.com/auth/login", form)
            .then(resp => {
              if (resp.status === 200) {
                const token = resp.data.data.token;
                localStorage.setItem("token", token);
                window.location.reload();
              }
            })
            .catch(err => {
              _this.$message({
                type: "warning",
                message: err.response.data.message
              });
            });
        }
      });
    }

    return {
      ...toRefs(state),
      form,
      rules,
      refForm,
      submitForm
    };
  }
};
</script>

<style lang="scss">
.login {
  height: 100vh;
  // background-image: url("../../assets/media/banner.jpg");
  // background-size: cover;
  // background-position: 50%;
}

.form-login-card {
  border: 1px solid #e0e0e0;
  border-radius: 3px !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 24px 40px 32px;
  background: #ffffff;
}

.white-form {
  .el-form-item__label {
    color: #ffffff;
  }
}
</style>
