.el-dialog {
  .el-dialog__body{
    padding-top: 0px !important;
  }
}

.el-form-item {
    margin-bottom: 5px !important;
    .el-form-item__label {
      width: 100% !important;
      text-align: left !important;
    }
    .el-form-item__content {
      margin-left: 0 !important;
    }
}